<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

      <center>
          <h1>Home Page Inventory</h1>
      </center>

        <center>

            <form>

                <table border="1">

                    <tr>
                        <th>Identification</th>
                        <th>Serial N°</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Ram</th>

                    </tr>
                </table>

            </form>

        </center>
</body>
</html>